.wikipage{
    background-color: #fefefecc;
}

.wikiform{
    max-width: 800px;
    margin: auto;
    padding: 20px;
    /* font-family: 'Georgia', serif; */
    background-color: #fefefe;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
/* .wiki-form-title{
    font-family: Georgia, serif, 'Times New Roman', Times;
} */
.submitbutton{
    max-width: 7rem;
}
.formelement{
    margin-top: 1rem;
}